
					<div class="col-md-6 footer-grid-left">
							<h><big><strong><p>ApexSolution<a href=""></a></p></strong></big></h></div>
</div>
<div class="collapse navbar-collapse nav-wil" id="bs-example-navbar-collapse-1" ng-app="app">
	<ul class="nav navbar-nav cl-effect-18" id="cl-effect-18">
		<li class="act"><a href="#home" class="effect1 active">Home</a></li>
		<li><a href="#reviews.html">Reviews</a></li>
    <li><a href="#reviews.html">Portfolio</a></li>
		<li><a href="#about">About</a></li>
		<li><a href="#jobseekers">Job Seekers</a></li>



		</li>
		<li><a href="#contact">Contact Us</a></li>
	</ul>
</div><!-- /.navbar-collapse -->

</div>
</nav>
	
<!-- //banner-bottom -->
<!-- footer -->
	<div class="footer-top-w3layouts-agile">
		<div class="container">

		</div>
	</div>
	<div class="footer">
		<div class="container">
			<div class="footer-grids wthree-agile">
				<div class="col-md-4 footer-grid-left">

				<div class="col-md-4 footer-grid-left">
						<h><p>&copy 2017 ApexSolution<a href=""></a></p></h>

				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="footer-bottom">
				<div class="footer-bottom-left-whtree-agileinfo">

				</div>
				<div class="footer-bottom-right-whtree-agileinfo">
					<ul>
						<li><a href="#" class="icon-button twitter"><i class="icon-twitter"></i><span></span></a></li>
						<li><a href="#" class="icon-button google"><i class="icon-google"></i><span></span></a></li>
						<li><a href="#" class="icon-button v"><i class="icon-v"></i><span></span></a></li>
					</ul>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>



  </div>
<!-- //footer -->
<!-- for bootstrap working -->
	<script src="../../static/js/bootstrap.js"></script>
<!-- //for bootstrap working -->
